<template>
  <div class="card">
    <div class="card__container">
      <article class="card__blog-card">
        <img class="card__post-image" :src=student.image />
        <div class="article-details">
          <h3 class="post-name">{{ student.name }}</h3>
          <h5>{{ student.parents}} : {{ student.contact }}</h5>
          <p class="post-class">Class : {{ student.grade }}</p>
          <p class="post-marks">Average : {{ getMarks(student.marks) }} </p>
          <el-progress
             :text-inside="true"
             :stroke-width="24"
             :percentage=getPercent(student)
             status="success"
             class="card__progress"
          />
          <p>{{ student.successTasks }} of {{ student.allTasks }}</p>
        </div>
        <el-button
           type="primary"
           @click="goToCard(student.id)"
        >Страница подавана</el-button>
      </article>
    </div>
  </div>
</template>

<script>
import { Component, Vue, Prop } from 'vue-property-decorator';
// import store from '@/store';

@Component
export default class StudentCard extends Vue {
  @Prop(Object) student;

  getMarks(value) {
    return +(value.reduce((a, b) => a + b, 0) / value.length).toFixed(2);
  }

  getPercent(student) {
    return +(student.successTasks / student.allTasks * 100).toFixed(2);
  }
}
</script>

<style lang="scss" scoped>
  .card {
    display: flex;
    flex: 0 1 auto;
    width: 350px;
    margin-bottom: 30px;
    margin-right: 30px;
    height: 600px;

    &__container {
      display: block;
    }

    &__post-image {
      display: block;
      max-width: 350px;
      height: 250px;
      object-fit: cover;
    }

    &__progress {
      max-width: 400px;
    }

    &__blog-card {
      display: flex;
      flex-direction: column;
      background: white;
      box-shadow: 0 1px 15px cadetblue;
      border-radius: 5px;
      overflow: hidden;
      height: 100%;
      justify-content: space-between;
    }

    .article-details {
      padding: 10px;
    }
  }
</style>
