<template>
  <div class="page">
    <div class="container">
      <div class="left-menu">
        <nav-menu
           :links="links"
        ></nav-menu>
      </div>
      <div class="content">

        <div class="homework-list">
          <el-card class="box-card">
            <div slot="header">
              <span>Физика</span>
              <el-button
                 style="float: right; padding: 3px 0"
                 type="text"
                 @click="navigateToHomework"
              >
                Перейти к заданию
              </el-button>
            </div>
            <div class="text item">
              Тема: Механика
            </div>
          </el-card>
          <el-card class="box-card">
            <div slot="header">
              <span>Физика</span>
              <el-button
                 style="float: right; padding: 3px 0"
                 type="text"
                 @click="navigateToHomework"
              >
                Перейти к заданию
              </el-button>
            </div>
            <div class="text item">
              Тема: Кинематика
            </div>
          </el-card>
          <el-card class="box-card">
            <div slot="header">
              <span>Математика</span>
              <el-button
                 style="float: right; padding: 3px 0"
                 type="text"
                 @click="navigateToHomework"
              >
                Перейти к заданию
              </el-button>
            </div>
            <div class="text item">
              Тема: Матрицы
            </div>
          </el-card>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import { Vue, Component } from 'vue-property-decorator';
import axios from 'axios';
import NavMenu from '@/components/nav/nav.vue';
import routeNames from '../router/routeNames';
import List from '../utils/navConst';

@Component({
  components: {
    NavMenu,
  },
})
export default class HomeworksPage extends Vue {
  links = List.list;

  subjectsTableData = [];

  navigateToHomework() {
    this.$router.push({ name: routeNames.homeworkPage });
  }

  mounted() {
    axios.get('http://localhost:9090/subjects')
      .then((response) => {
        this.subjectsTableData = response.data.name;
      });
  }
}
</script>

<style>
  .homework-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
  }

  .text {
    font-size: 15px;
  }

  .item, .header{
    margin-bottom: -5px;
    margin-top: -5px;
  }

  .box-card {
    width: 450px;
    border: 1px solid #929292;
    background-color: #eaeaea;
    color: #303133;
    margin-bottom: 15px;
  }
</style>
