<template>
  <div class="page">
    <div class="container">
      <div class="left-menu">
        <nav-menu
          :links="links"
        ></nav-menu>
      </div>
      <div class="content">
        <div>
          <div class="homework">
            <!--    <nav-menu></nav-menu>-->
            <div class="header">
              <h2 class="title">Домашнее задание</h2>
              <div class="subject">Предмет:</div>
              <div class="topics">Тема:</div>
              <div class="exercise">Задание:</div>
              <h4>Теория</h4>
            </div>
            <div class="theory">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus augue quam, tempus quis diam id, placerat efficitur arcu.
              Nunc sodales augue nec ipsum pharetra vestibulum. Quisque venenatis
              ultrices nisl quis aliquet. Nam blandit et mi non fermentum. Sed tincidunt ultrices
              mollis. Donec malesuada lorem tempor, condimentum sapien et, commodo sem.
              Etiam non tortor lectus. Etiam maximus, leo sit amet maximus malesuada, odio
              urna porttitor lacus, vitae maximus nisl nulla in urna. Praesent sit amet
              hendrerit elit. Aenean pharetra ut ipsum ut accumsan. Praesent dictum, metus id
              hendrerit pharetra, tortor dui viverra tellus,
              in sollicitudin erat leo a tortor. Nullam nec nisi magna.
            </div>
            <div class="test-form">
              <el-form ref="form" :model="form">
                <el-form-item label="Ваше имя:">
                  <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="Выбирете верные утверждения:">
                  <el-checkbox-group v-model="form.type">
                    <el-checkbox label="1" name="type"></el-checkbox>
                    <el-checkbox label="2" name="type"></el-checkbox>
                    <el-checkbox label="3" name="type"></el-checkbox>
                    <el-checkbox label="4" name="type"></el-checkbox>
                    <el-checkbox label="5" name="type"></el-checkbox>
                    <el-checkbox label="6" name="type"></el-checkbox>
                    <el-checkbox label="7" name="type"></el-checkbox>
                    <el-checkbox label="8" name="type"></el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
                <el-form-item label="Площадь квадрата это:">
                  <el-radio-group v-model="form.resource">
                    <el-radio label="a^2"></el-radio>
                    <el-radio label="a+a"></el-radio>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="Напишите формулу Герона:">
                  <el-input type="textarea" v-model="form.desc"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button>Выйти</el-button>
                  <el-button type="primary" @click="onSubmit">Сдать работу</el-button>
                </el-form-item>
              </el-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Vue, Component } from 'vue-property-decorator';
import NavMenu from '@/components/nav/nav.vue';
import List from '../utils/navConst';

  @Component({
    components: {
      NavMenu,
    },
  })
export default class HomeworkPage extends Vue {
    links = List.list;

    form = {
      name: '',
      resource: '',
      desc: '',
      type: [],
    };
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
</style>

<style>
  .theory {
    width: 400px;
    height: 240px;
  }

  .test-form {
    height: 200px;
    width: 270px;
    padding-left: 20px;
  }

  .header, .theory {
    padding-left: 20px;
  }

  .homework {
    width: 1280px;
    margin: auto;
  }

  @font-face {
    font-family: Roboto; /* Гарнитура шрифта */
    src: url(../fonts/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
  }

  h2 {
    font-family: Roboto, 'Roboto', serif;
  }
</style>
