<template>
  <el-container>
    <el-row
       type="flex"
       justify="center"
       align="middle"
       class="login-container">
      <el-card class="login-card">
        <h3 class="login-card__title">Войдите в свой аккаунт</h3>
        <div class="login-card__divider"></div>
        <el-input
           placeholder="Введите логин"
           autocomplete="new-login"
           v-model="login"
           @keyup.enter.native="auth"
        ></el-input>
        <div class="login-card__divider"></div>
        <el-input
           placeholder="Введите пароль"
           autocomplete="new-password"
           :show-password="true"
           type="password"
           v-model="password"
           @keyup.enter.native="auth"
        ></el-input>
        <div class="login-card__divider"></div>
        <el-button
           type="primary"
           :loading="authLoading"
           :disabled="isButtonDisabled"
           @click="auth"
        >
          Войти
        </el-button>
      </el-card>
    </el-row>
  </el-container>
</template>

<script>
import axious from 'axios';
import { Component, Vue } from 'vue-property-decorator';
import routeNames from '../router/routeNames';
import store from '@/store';

@Component
export default class Login extends Vue {
  login = '';

  password = '';

  authLoading = false;

  role;

  auth() {
    const { login, password } = this;

    axious
      .post('http://localhost:9090/auth', { login, password })
      .then((response) => {
        this.role = response.data.userRole;
        store.commit('setRole', this.role);
        this.$router.push({ name: routeNames[this.role] });
      })
      .catch(() => {
        this.$message.error('Неверный логин или пароль');
      })
      .finally(() => {
        this.authLoading = false;
      });
  }


  get isButtonDisabled() {
    const { login, password, authLoading } = this;
    return !(login && password) || authLoading;
  }
}

</script>

<style scoped lang="scss">
  .login-card {
    max-width: 480px;
    width: 100%;
    text-align: center;

    &__divider {
      margin: 20px 0;
    }

    &__title {
      margin: 0;
    }
  }

  .login-container {
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
  }
</style>
