<template>
    <div></div>
</template>

<script>
import { Vue, Component } from 'vue-property-decorator';
import List from '../utils/navConst';

@Component
export default class Mainpage extends Vue {
  links = List.list;
}
</script>

<style scoped>

</style>
