<template>
  <div class="page">
    <div class="container">
      <div class="left-menu">
        <NavMenu :links="links"></NavMenu>
      </div>
      <div class="content">
        <div class="student-card">
          карточка студента
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { Vue, Component } from 'vue-property-decorator';
import NavMenu from '../components/nav/nav.vue';

@Component({
  components: { NavMenu },
})
export default class Mentor extends Vue {
  students = [];

  links = [
    {
      text: 'Статусы',
      url: '/mentor',
      iconName: 'el-icon-date',
      id: 1,
    },
    {
      text: 'Календарь',
      url: '/calendar',
      iconName: 'el-icon-date',
      id: 1,
    },
    {
      text: 'Домашнее задание',
      url: '/homework',
      iconName: 'el-icon-collection',
      id: 2,
    },
    {
      text: 'Успеваемость',
      url: '/academic-performance',
      iconName: 'el-icon-finished',
      id: 3,
    },

    {
      text: 'Библиотека и материалы',
      url: '/library',
      iconName: 'el-icon-reading',
      id: 4,
    },
  ];

  goToCard(id) {
    console.log(id);
    this.$router.push({ path: `/student/card/${id}` });
  }

  getPercent(student) {
    return +(student.successTasks / student.allTasks * 100).toFixed(2);
  }

  getMarks(value) {
    return +(value.reduce((a, b) => a + b, 0) / value.length).toFixed(2);
  }

  mounted() {
    axios
      .get('http://localhost:9090/students')
      .then((response) => {
        this.students = response.data;
        console.log(response.data);
      });
  }
}
</script>

<style scoped>
  .page {
    display: flex;
  }

  .container {
    display: flex;
    width: 100%;
  }

  .left-menu {
    width: 283px;
  }

  .content {
    width: 100%;
    padding: 20px;
  }

  .blog-card {
    display: flex;
    flex-direction: row;
    background: white;
    box-shadow: 0 1px 15px cadetblue;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
  }
  .article-details {
    padding: 10px;
  }
  .post-name {
    font-size: 1.125rem;
    line-height: 1.4;
    color: black;
    font-weight: 700;
    margin: 0 0 2px 0;
  }
  .post-image {
    display: block;
    width: 350px;
    height: 250px;
    object-fit: cover;
  }

</style>
