<template>
  <div class="page">
    <div class="container">
      <div class="left-menu">
        <nav-menu
          :links="links"
        ></nav-menu>
      </div>
      <div class="content">
        <div>
          <el-table
            :data="subjects"
            :default-sort = "{prop: 'mark', order: 'descending'}"
            class="progress"
            :row-class-name="tableRowClassName"
          >
            <div
            >
              <template>
                <el-table-column
                  prop="mark"
                  label="Mark"
                  sortable
                  width="180">
                </el-table-column>
                <el-table-column
                  prop="name"
                  label="Subject"
                  sortable
                  width="180"
                >
                </el-table-column>
              </template>
            </div>
          </el-table>
          <el-progress
            :text-inside="true"
            :stroke-width="24"
            :percentage=getPercent(student) status="success"></el-progress>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { Vue, Component } from 'vue-property-decorator';
import NavMenu from '../utils/navConst';

@Component
export default class StudentList extends Vue {
  links = NavMenu.list;

  id;

  student;

  subjects = [];

  getPercent(value) {
    console.log(value.progress);
    return +(value.progress.successTasks / value.progress.allTasks * 100).toFixed(2);
  }

  tableRowClassName({ row }) {
    switch (row.mark) {
      case 1: return 'level1';
      case 2: return 'level2';
      case 3: return 'level3';
      case 4: return 'level4';
      case 5: return 'level5';
      default: return '';
    }
  }

  addMarks() {
    for (let i = 0; i < this.subjects.length; i += 1) {
      this.subjects[i].mark = this.student.progress.subjectsMarks[i];
    }
  }

  mounted() {
    this.id = this.$route.params.id;
    axios
      .get(`http://localhost:9090/student/card/${this.id}`)
      .then((response) => {
        this.student = response.data;
        console.log(this.student);
        axios
          .get('http://localhost:9090/subjects')
          .then((response2) => {
            this.subjects = response2.data;
            this.addMarks();
            console.log(this.subjects);
          });
      });
  }
}
</script>

<style scoped>
.progress {
  height: 412px;
  overflow: scroll;
  width: 380px;
  border: black solid 1px;
  margin: 30px;
}
</style>

<style>
  .el-table .level1 {
    background-color: rgba(0, 247, 6, 0.73);
  }
  .el-table .level2 {
    background-color: #9aeeb2;
  }
  .el-table .level3 {
    background-color: #fff38e;
  }
  .el-table .level4 {
    background-color: rgba(218, 141, 50, 0.83);
  }
  .el-table .level5 {
    background-color: rgba(236, 47, 0, 0.5);
  }
  /*.el-progress-bar {*/
    /*width: 400px;*/
    /*margin: 30px;*/
  /*}*/
</style>
