<template>
  <div class="page">
    <div class="container">
      <div class="left-menu">
        <NavMenu :links="links"></NavMenu>
      </div>
      <div class="content">

      <div
        v-for="student in students"
        :key="student.id"
        class="card-page"
      >
        <StudentCard :student="student"/>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { Vue, Component } from 'vue-property-decorator';
import NavMenu from '../components/nav/nav.vue';
import List from '../utils/navConst';
import StudentCard from '../components/student-card/student-card.vue';

@Component({
  components: { StudentCard, NavMenu },
})
export default class StudentList extends Vue {
  links = List.list;

  students = [];

  goToCard(id) {
    console.log(id);
    this.$router.push({ path: `/student/card/${id}` });
  }

  mounted() {
    axios
      .get('http://localhost:9090/students')
      .then((response) => {
        this.students = response.data;
        console.log(response.data);
      });
  }
}
</script>

<style scoped lang="scss">
  .page {
    display: flex;
    /*justify-content: center;*/
  }

  .container {
    /*width: 1280px;*/
    display: flex;
    width: 100%;
  }

  .left-menu {
    width: 283px;
  }

  .content {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .post-name {
    font-size: 1.125rem;
    line-height: 1.4;
    color: black;
    font-weight: 700;
    margin: 0 0 2px 0;
  }

  .card-page {
    width: 30%;
  }
</style>
