<template>
    <div class="page">
        <div class="container">
            <div class="left-menu">
                <nav-menu
                    :links="links"
                ></nav-menu>
            </div>
            <div class="content">
                <h1></h1>
            </div>
        </div>
    </div>
</template>

<script>
import { Vue, Component } from 'vue-property-decorator';
import NavMenu from '@/components/nav/nav.vue';
import List from '../utils/navConst';

@Component({
  components: {
    NavMenu,
  },
})
export default class Student extends Vue {
  links = List.list;

  mounted() {
    console.log(this.links);
  }
}
</script>

<style>
    .page {
        display: flex;
    }

    .container {
        display: flex;
        width: 100%;
    }

    .left-menu {
        width: 283px;
    }

    .content {
        width: 100%;
    }
    .logout {
      justify-content: flex-end;
    }
</style>
