<template>
  <div class="page">
    <div class="container">
      <div class="left-menu">
        <nav-menu
          :links="links"
        ></nav-menu>
      </div>
      <div class="content">
        <h1>Учитель</h1>
      </div>
    </div>
  </div>
</template>

<script>
import { Vue, Component } from 'vue-property-decorator';
import List from '../utils/navConst';

import NavMenu from '@/components/nav/nav.vue';

@Component({
  components: {
    NavMenu,
  },
})
export default class Teacher extends Vue {
  links = List.list;
}
</script>

<style scoped>
  .page {
    display: flex;
    /*justify-content: center;*/
  }

  .container {
    /*width: 1280px;*/
    display: flex;
    width: 100%;
  }

  .left-menu {
    width: 283px;
  }

  .content {
    width: 100%;
  }

  @font-face {
    font-family: Roboto; /* Гарнитура шрифта */
    src: url(../fonts/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
  }

  .font-style {
    font-family: Roboto, 'Roboto', serif;
  }
</style>
