<template>
<div class="page">
  <div class="container">
    <div class="left-menu">
      <nav-menu
         :links="links"
      ></nav-menu>
    </div>
    <div class="content">
      <h1>Студент</h1>
    </div>
  </div>
</div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';
import NavMenu from '@/components/nav/nav.vue';

@Component({
  components: {
    NavMenu,
  },
})
export default class Parent extends Vue {
  links = [
    {
      text: 'Дите',
      url: '/student',
      iconName: 'el-icon-date',
      id: 1,
    },
    {
      text: 'Успеваемость',
      url: '/academic-performance',
      iconName: 'el-icon-collection',
      id: 2,
    },
    {
      text: 'Оплата',
      url: '/billing',
      iconName: 'el-icon-finished',
      id: 3,
    },

    {
      text: 'Отчеты',
      url: '/reports',
      iconName: 'el-icon-reading',
      id: 4,
    },
  ];

  mounted() {
    console.log('this.$route.params.id', this.$route.params.id);
  }
}
</script>

<style scoped>
  .page {
    display: flex;
  }

  .container {
    display: flex;
    width: 100%;
  }

  .left-menu {
    width: 283px;
  }

  .content {
    width: 100%;
  }
</style>
