<template>
  <div class="page">
    <div class="container">
      <div class="left-menu">
      </div>
      <div class="content">Student Info</div>
    </div>
  </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class StudentInfo extends Vue {
  mounted() {
    console.log('this.$route.params.id', this.$route.params.id);
  }
}
</script>

<style scoped>
  .page {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 1280px;
    display: flex;
  }

  .left-menu {
    width: 283px;
  }

  .content {
    width: 100%;
  }
</style>
