<template>
  <el-container>
    <el-row>
      <el-col>

        <el-menu
           text-color="#fff"
           active-text-color="#ffd04b"
           :class="calcBgClass"
        >
          <span class="aside__title">
            {{this.calcTitle}}
          </span>

          <router-link
             v-for="link in links"
             v-bind:key="link.id"
             :to="link.url"
          >
            <el-menu-item >
              <i :class="link.iconName"></i>
                <span>{{link.text}}</span>
            </el-menu-item>
          </router-link>
          <router-link class="link" :to="'/login'">
            <el-menu-item>
              <i :class="'el-icon-back'"></i>
                <span>Выйти</span>
            </el-menu-item>
          </router-link>
        </el-menu>
      </el-col>
    </el-row>
  </el-container>
</template>
<script>

import { Component, Vue, Prop } from 'vue-property-decorator';
import store from '@/store';

@Component
export default class NavMenu extends Vue {
  @Prop(Array) links;

  // role = this.userRole;

  get calcBgClass() {
    const role = store.state.userRole;

    return `${role} aside`;
  }

  get calcTitle() {
    const role = store.state.userRole;
    console.log('state.userRole', store.state.userRole);

    if (role === 'teacher') {
      return 'Учитель';
    } if (role === 'mentor') {
      return 'Ментор';
    } if (role === 'student') {
      return 'Студент';
    } if (role === 'parent') {
      return 'Родитель';
    } return false;
  }
}
</script>

<style lang="scss">
  .app {
    height: 100vh;
  }
  .aside {
    height: 100vh;
    position: fixed;

    &__title {
      font-size: 20px;
      margin-top: 30px;
      margin-left: 20px;
      display: inline-block;
      color: white;
      margin-bottom: 20px;
      font-style: italic;
    }
  }
  .el-menu {
    height: 100vh;
  }

  .link {
    &:hover, &:visited, &:link, &:active
    {
      color: white;
      text-decoration: none;
    }
  }

  .mentor {
    background-color: #000a12;
  }

  .student {
    background-color: #001f6d;
  }

  .teacher {
    background-color: #90cc00;
  }

  .parent {
    background-color: #c77c02;
  }
</style>
